/* CSS filter generator to convert from black to target hex color : https://codepen.io/sosuke/pen/Pjoqqp */

.l-dropdown-menu-item [class*="l-personal-menu-icon"] {
    filter: invert(98%) sepia(18%) saturate(700%) hue-rotate(257deg) brightness(87%) contrast(90%);
}

/* Replaces Notification Icon */
#Notification>img {
    background-image: url('chrome-extension://__MSG_@@extension_id__/mods/material-icons-round-svg/notifications_black_24dp.svg') !important;
    filter: invert(98%) sepia(100%) saturate(0%) hue-rotate(42deg) brightness(105%) contrast(103%);
}

/* Replaces Mail Icon */
#ctl00_PersonalResponsiveMenu_EmailInboxLink_image {
    background-image: url('chrome-extension://__MSG_@@extension_id__/mods/material-icons-round-svg/mail_24dp.svg') !important;
    filter: invert(98%) sepia(100%) saturate(0%) hue-rotate(42deg) brightness(105%) contrast(103%);
}

/* Replaces Chat Icon */
#im2-open-button>img {
    background-image: url('chrome-extension://__MSG_@@extension_id__/mods/material-icons-round-svg/chat_bubble_24dp.svg') !important;
    filter: invert(98%) sepia(100%) saturate(0%) hue-rotate(42deg) brightness(105%) contrast(103%);
}
#im2-open-button>svg {
    display: none !important;
}
#im2-open-button {
    padding: 5px !important;
}

/* Replaces Personnal Menu Files Icon */
.l-personal-menu-icon.l-personal-menu-icon-yourfiles {
    background-image: url('chrome-extension://__MSG_@@extension_id__/mods/material-icons-round-svg/folder_black_24dp.svg') !important;
}

/* Replaces Personnal Menu Settings Icon */
.l-personal-menu-icon.l-personal-menu-icon-mysettings {
    background-image: url('chrome-extension://__MSG_@@extension_id__/mods/material-icons-round-svg/settings_black_24dp.svg') !important;
}

/* Replaces Personnal Menu E-portfolio Icon */
.l-personal-menu-icon.l-personal-menu-icon-eportfolio {
    background-image: url('chrome-extension://__MSG_@@extension_id__/mods/material-icons-round-svg/book_black_24dp.svg') !important;
}

/* Replaces Personnal Menu Assessment Record Icon */
.l-personal-menu-icon.l-personal-menu-icon-assessmentrecord {
    background-image: url('chrome-extension://__MSG_@@extension_id__/mods/material-icons-round-svg/assessment_black_24dp.svg') !important;
}

/* Replaces Personnal Menu Learning Objectives Icon */
.l-personal-menu-icon.l-personal-menu-icon-learningobjective {
    background-image: url('chrome-extension://__MSG_@@extension_id__/mods/material-icons-round-svg/rule_black_24dp.svg') !important;
}

/* Replaces Personnal Menu Individual Learning Plan Icon */
.h-va-middle.l-personal-menu-icon-individuallearningplan {
    background-image: url('chrome-extension://__MSG_@@extension_id__/mods/material-icons-round-svg/face_black_24dp.svg') !important;
}

/* Replaces Personnal Menu Logout Icon */
.l-personal-menu-icon.l-personal-menu-icon-logout {
    background-image: url('chrome-extension://__MSG_@@extension_id__/mods/material-icons-round-svg/logout_black_24dp.svg') !important;
}

/* Replaces Personnal Menu Edit Profile Icon */
.l-personal-menu-icon-edit {
    background-image: url('chrome-extension://__MSG_@@extension_id__/mods/material-icons-round-svg/edit_black_24dp.svg') !important;
}

a.l-personal-menu-dd-header--button:hover>span.l-personal-menu-icon-edit {
    background-image: url('chrome-extension://__MSG_@@extension_id__/mods/material-icons-round-svg/edit_black_24dp.svg') !important;
}

/* Replaces home content icons */
.itsl-updatestab-wrapper .itsl-cb-activities .il-widget-header h2 {
    background: url('chrome-extension://__MSG_@@extension_id__/mods/material-icons-round-svg/event_black_24dp.svg') no-repeat 0 !important;
    background-size: 20px !important;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(306deg) brightness(106%) contrast(101%);
    color: #000000 !important;
}

.itsl-homepagetabs .il-widget.itsl-cb-tasks2 .tasklist2_header>h2 {
    background: url('chrome-extension://__MSG_@@extension_id__/mods/material-icons-round-svg/done_all_black_24dp.svg') no-repeat 0 !important;
    background-size: 20px !important;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(306deg) brightness(106%) contrast(101%);
    color: #000000 !important;
}

.itsl-updatestab-wrapper .itsl-cb-stream .il-widget-header h2 {
    background: url('chrome-extension://__MSG_@@extension_id__/mods/material-icons-round-svg/newspaper_black_24dp.svg') no-repeat 0 !important;
    background-size: 20px !important;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(306deg) brightness(106%) contrast(101%);
    color: #000000 !important;
}

.l-topmenu-searchbox .ccl-searchtextbox-personalmenu-icon {
    filter: invert(46%) sepia(13%) saturate(11%) hue-rotate(322deg) brightness(96%) contrast(93%);
}

.itsl-personal-notifications__overlay__title {
    background: url('chrome-extension://__MSG_@@extension_id__/mods/material-icons-round-svg/notifications_black_24dp.svg') no-repeat 0 !important;
}