/* Replaces Personnal Menu color and shape */
ul.l-personal-menu-dd {
    background: none repeat scroll 0 0 #fff !important;
    border-radius: 20px !important;
    margin: 11px !important;
    height: auto !important;
    box-shadow: 0 1px 3px rgba(0,0,0,.275) !important;
}
.l-personal-menu-dd-header {
    background-color: #f9f9f9 !important;
}
#personal-menu-dd[style*='display: block'] ~ button {
    background-color: #737083 !important;
}
.l-personal-menu-dd>li>a>span {
    color: #4a4a4a !important;
}
.l-dropdown-menu-item [class*="l-personal-menu-icon"] {
    filter: invert(24%) sepia(6%) saturate(2%) hue-rotate(328deg) brightness(108%) contrast(87%) !important;
}
.l-topmenu-searchbox .ccl-searchtextbox-personalmenu-icon {
    filter: invert(36%) sepia(6%) saturate(5%) hue-rotate(323deg) brightness(87%) contrast(92%) !important;
}
.l-personal-menu-dd-header--details {
    color: #565656 !important;
}
.l-personal-menu-dd-header--name {
    color: #4a4a4a !important;
}
.l-personal-menu-dd .l-pm-separator {
    border-bottom: 2px solid #f9f9f9 !important;
}
.l-personal-menu-dd .l-dropdown-menu-item>a:hover {
    background-color: #ecf8ff !important;
    border-radius: 14px !important;
    margin: 0px 10px !important;
}
.l-personal-menu-dd .l-dropdown-menu-item>a {
    margin: 0px 10px !important;
    padding-left: 8% !important;
}
a.l-personal-menu-dd-header--button:link>span, a.l-personal-menu-dd-header--button:active>span, a.l-personal-menu-dd-header--button:visited>span {
    color: #565656 !important;
}
.l-topmenu-searchbox .ccl-searchtextbox {
    border: none !important;
}
.l-personal-menu-dd-header img {
    border: none !important;
}
.ccl-searchtextbox-watermark {
    color: #565656 !important;
    font-style: normal !important;
    font-weight: normal !important;
}
.l-topmenu-searchbox .ccl-searchtextbox input+input {
    background-color: #f9f9f9 !important;
    border: 2px solid #f9f9f9 !important;
}
/* Removes Personnal Menu cross */
.l-personal-menu-dd-header--close {
    display: none !important;
}