/* Adds hover effect to navbar links */
ul.l-main-menu-items li.l-tab-menu-text button.l-main-menu-lnk {
    transition-duration: .3s !important;
}
li.l-tab-menu-text:not(:has(> #main-content-nav-more)) a.l-main-menu-lnk:hover, button.l-main-menu-lnk:hover, a.navbar-menu-opened, button.navbar-menu-opened {
    color: #ffffff !important;
    background-color: #F47920 !important;
    transition-duration: .3s !important;
}
button:hover>div.active-shadow {
    box-shadow: 0 10px 0 #ffffff inset !important;
}
div.active-shadow {
    border-radius: 20px !important;
    /* box-shadow: 0 10px 0 #c6bec4 inset !important; */
    transition-duration: .3s !important;
}
ul.l-main-menu-items>li.l-menu-itslearning.l-menu-home.active div.active-shadow {
    left: 0px !important;
}
li.l-more-menu-btn.l-tab-menu-text #mainMoreMenu a.l-main-menu-lnk {
    margin: 10px !important;
}
ul.l-main-menu-items li.l-tab-menu-text button.l-main-menu-lnk, li.l-tab-menu-text:not(:has(> #main-content-nav-more)) a.l-main-menu-lnk {
    border-radius: 14px !important;
    margin: 10px 0px 10px 10px !important;
    padding: 10px !important;
    display: flex !important;
    align-items: center !important;
}
/* li.l-more-menu-btn.l-tab-menu-text:not(:has(> #main-content-nav-more)) button.l-main-menu-lnk {
    background-position: right 0px bottom 50%;
    padding-right: 30px !important;
    background-image: url('chrome-extension://__MSG_@@extension_id__/mods/material-icons-round-svg/arrow_drop_down_black_24dp.svg');
    background-repeat: no-repeat;
    background-size: 30px;
} */
li.l-tab-menu-text:not(:has(> #main-content-nav-more)) button:after {
    content: none;
 }
ul.l-mobile-main-menu-items, ul.l-more-menu {
    border-radius: 20px !important;
    top: 75px !important;
}
.l-menu-home>a>img {
    display: none !important;
}
ul.l-main-menu-items>li.l-menu-itslearning .l-menu-text {
    padding: 0px !important;
}
#personal-menu-link img {
    transition-duration: .3s !important;
    border-color: transparent;
    border-width: 3px;
}
#personal-menu-link:hover img, 
.navbar-perso-menu-opened {
    /* filter: opacity(0.5) !important; */
    border-color: #ffffff !important;
    border-width: 3px !important;

}
.l-personal-menu-name>span.h-va-middle {
    display: none;
}
#personal-menu-link {
    margin-left: 5px;
}
/* Modifies workspaces & communities menu */
.c-dropdownMenu__navigation {
    border-radius: 20px 20px 0px 0px !important;
}
.l-main-menu-items .ccl-context-dialog.ccl-dropdownmenu {
    border-radius: 20px !important;
    top: 75px !important;
}
.ccl-context-dialog.show-arrow.bottom>.ccl-context-dialog-arrow {
    display: none !important;
}